*{
    box-sizing: border-box;
    margin:0;
    overflow:normal;
}
.navbar{
    height:17vh;
    display: flex;
    flex-direction: row; 
    background-color:rgba(44, 16, 16, 0.525); 
    position: absolute;
}
ul {
    list-style: none;
}
#logo{
    height:90%;
    cursor: pointer;
}
.nv1 {
    height:17vh;
    margin-left: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nv2-1 ,
.nv3-1{
    display: flex;
    justify-content: space-evenly;
}

.nv2{
    margin-right:32em;
}
ul li {
    margin: 1.2rem;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 12%;
}
a{
    color: rgb(248, 195, 195);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
}
ul li:hover{
    transform: scale(1.2);
}

.nv3{
    margin-right:0em;
}
.nav2{
    margin:0;
    background-image: url("/assets/header-bg.jpg");
    width: 212vh;
    height: 102vh;
    background-size: cover;
}
.mainbody{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading{
    float:inline-start;
    display: inline;
    color:rgba(255, 186, 186, 0.733);
    margin-top: 2em;
    margin-left:1em ;
    font-size: 5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mb1{
    height:300px;
    padding:0px;
    display: flex;
    justify-content:center;
    margin-top:2.5em;
    flex-wrap: wrap;
}
#mb122{
    background-image: url("/assets/beans.jpg");
    background-size:cover;
    margin:0.2em;
    border-radius:50%;
    height: 25.5em;
    width:25.5em;
    padding-left: 5.5em;
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smoke-wrap{
    position: relative;
    float: right;
}
.smoke{
    height:15em;
    position: relative;
    float: right;
    margin-right: 17em;
    margin-top:0;
    filter: blur(2px);
    transform-origin: 50% 50%;
    animation: smoke1 3s linear infinite;
}
.smoke2{
    height:14em;
    position: absolute;
    float: right;
    margin-right: 16em;
    margin-top:0;
    filter: blur(2px);
    transform-origin: 50% 50%;
    animation: smoke1 3s linear infinite;
}
@keyframes smoke1{
    0%{
    filter: blur(0px);
        transform: translateY(0em) scale(-1,1);
        opacity: 0;
    }
    25%{
        filter: blur(2px);
        transform: translateY(-10px) scale(-1,1.05);
        opacity: 0.5;
    }
    50%{
        filter: blur(4px);
        transform: translateY(-20px) scale(-1,1.1);
        opacity: 1;
    }
    75%{
        filter: blur(4px);
        transform: translateY(-30px) scale(-1,1.15);
        opacity: 0.5; 
    }
    100%{
        filter: blur(6px);
        transform: translateY(-40px) scale(-1,1.2);
        opacity: 0;
    }
}
