*
{
    padding: 0px;
    margin: 0px;
}
body
{
    background-image: url(/assets/bg5.jpg);
    background-size: cover;
}

.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15vh 10vw 10vh 10vw;
    height: 70vh;
    width: 80vw;
    
}
.pt1
{
    background-image: url(/assets/Collage3.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pt2
{
    background: rgba(255,235,205,0.4);
    box-shadow: 0px 0px 10px 2px blanchedalmond;
    padding: 5%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c4b7ae;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 3%;
}
button{
    border: none;
    outline: none;
    padding: 4%;
    width: 100%;
    background: #302715;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin: 0% 0% 2% 0%;
}

#t1
{
    padding: 2%;
}
